@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
h1{
    background-color: blueviolet;
    font-size: 200px;
    color: azure;
    font-family:'La Belle Aurore', cursive; ;
}P{ background-color:blueviolet;
    font: size 100px;
    color:azure


}
